<a href="https://colab.research.google.com/github/alvaroOpereira/imer_phyton/blob/main/aula_1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [7]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [10]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [11]:
df.shape

(133349, 11)

In [12]:
linhas, colunas = df.shape[0], df.shape[1]

In [21]:
print("o número de linhas é:", linhas)
print("o número de colunas é:", colunas)

o número de linhas é: 133349
o número de colunas é: 11

In [66]:
df.columns

Index(['ano', 'senioridade', 'tipo_de_emprego', 'cargo', 'salário',
       'moeda_do_salário', 'salário_em_usd', 'residência_do_empregado',
       'remoto', 'localização_da_empresa', 'tamanho_da_empresa'],
      dtype='object')

In [47]:
df["tipo_de_emprego"].value_counts()

tipo_de_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [71]:
df["remoto"].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [43]:
column_translation_english = {
    'ano_de_trabalho': 'work_year',
    'nível_de_experiência': 'experience_level',
    'tipo_de_emprego': 'employment_type',
    'cargo': 'job_title',
    'salário': 'salary',
    'moeda_do_salário': 'salary_currency',
    'salário_em_usd': 'salary_in_usd',
    'residência_do_empregado': 'employee_residence',
    'taxa_remota': 'remote_ratio',
    'localização_da_empresa': 'company_location',
    'tamanho_da_empresa': 'company_size'
}

df.rename(columns=column_translation_english, inplace=True)

display(df.head())

,ano,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [58]:
df["senioridade"].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [ ]:
df.

,ano,senioridade,tipo_de_emprego,cargo,salário,moeda_do_salário,salário_em_usd,residência_do_empregado,remoto,localização_da_empresa,tamanho_da_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [64]:
category_translation = {
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
}

df['senioridade'] = df['senioridade'].replace(category_translation)

print("Valores únicos na coluna 'senioridade' após tradução:")
print(df['senioridade'].unique())

Valores únicos na coluna 'senioridade' após tradução:
['Sênior' 'Pleno' 'Júnior' 'Executivo']

In [70]:
df["senioridade"].value_counts()

senioridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [65]:
employment_type_translation = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
}

df['tipo_de_emprego'] = df['tipo_de_emprego'].replace(employment_type_translation)

print("Valores únicos na coluna 'tipo_de_emprego' após tradução:")
print(df['tipo_de_emprego'].unique())

Valores únicos na coluna 'tipo_de_emprego' após tradução:
['Tempo Integral' 'Contrato' 'Tempo Parcial' 'Freelancer']

In [68]:
company_size_translation = {
    'M': 'Médio',
    'L': 'Grande',
    'S': 'Pequeno'
}

df['tamanho_da_empresa'] = df['tamanho_da_empresa'].replace(company_size_translation)

print("Valores únicos na coluna 'tamanho_da_empresa' após tradução:")
print(df['tamanho_da_empresa'].unique())

Valores únicos na coluna 'tamanho_da_empresa' após tradução:
['Médio' 'Grande' 'Pequeno']

In [69]:
df["tamanho_da_empresa"].value_counts()

tamanho_da_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [72]:
remote_translation = {
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
}

df['remoto'] = df['remoto'].replace(remote_translation)

print("Valores únicos na coluna 'remoto' após tradução:")
print(df['remoto'].unique())

Valores únicos na coluna 'remoto' após tradução:
['Remoto' 'Presencial' 'Híbrido']

In [73]:
df.head()

,ano,senioridade,tipo_de_emprego,cargo,salário,moeda_do_salário,salário_em_usd,residência_do_empregado,remoto,localização_da_empresa,tamanho_da_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Médio
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Médio
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Médio
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Médio
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Médio

In [74]:
df.describe(include="object")

,senioridade,tipo_de_emprego,cargo,moeda_do_salário,residência_do_empregado,remoto,localização_da_empresa,tamanho_da_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Médio
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [75]:
df.describe()

                 ano       salário  salário_em_usd
count  133339.000000  1.333490e+05   133349.000000
mean     2024.358770  1.632833e+05   157617.272098
std         0.680627  2.173860e+05    74288.363097
min      2020.000000  1.400000e+04    15000.000000
25%      2024.000000  1.060200e+05   106000.000000
50%      2024.000000  1.470000e+05   146206.000000
75%      2025.000000  1.990000e+05   198000.000000
max      2025.000000  3.040000e+07   800000.000000